[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/BE_AI_GO/venv/bin/uwsgi -i /srv/BE_AI_GO/api/distrib/uwsgi/config.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
